<h1 class="center-align">Children</h1>

<table class="striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Parents</th>
    </tr>
  </thead>
  <tbody>
    <% @children.each_with_index do |child,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= child.name %></td>
        <td><%= child.age %></td>
        <td><%= child.gender %></td>
        <td><%= @person.find(" #{child.person_id}").name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
